---
import type { InferGetStaticParamsType } from 'astro'
import { PortableText } from 'astro-portabletext'
import Layout from '@/layouts/Layout.astro'
import { formatDate } from '@/utils'
import { urlFor } from '@/utils/image'
import { getPost, getPosts } from '@/utils/sanity'
// import { Image } from 'astro:assets'
import { Image } from '@unpic/astro'

export async function getStaticPaths() {
	const posts = await getPosts()
	return posts.map((post) => ({
		params: { slug: post.slug.current },
	}))
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>
const { slug } = Astro.params as Params

const post = await getPost(slug)
---

<Layout seo={{ title: post.title! }}>
	<section class="prose">
		<div class="w-full">
			<h1 transition:name={`post-title-${post.slug.current}`} data-sanity-edit-target>
				{post.title}
			</h1>
			{
				post.mainImage ? (
					<Image
						src={urlFor(post.mainImage).width(640).height(420).url()}
						alt="Astro + Sanity"
						class="w-full rounded"
						width={640}
						height={420}
						loading={'eager'}
						transition:name={`post-image-${post.slug.current}`}
						placeholder={'lqip'}
						background={post.lqip}
					/>
				) : (
					<div class="hidden" />
				)
			}
			<p class="text-xl">{post.excerpt}</p>

			<p class="text-sm">
				{formatDate(post._createdAt)}
			</p>
			<div class="text-sans">
				<PortableText value={post.body} />
			</div>
		</div>
	</section>
</Layout>
