---
import { formatDate } from '@/utils'
import { urlFor } from '@/utils/image'
import type { Post } from '@/utils/sanity'
import { Image } from 'astro:assets'
import placeholderImage from '@/assets/placeholder-image-square.jpg'

interface Props {
	post: Post
}

const { post } = Astro.props
---

<div class="flex flex-col gap-6 sm:flex-row">
	{
		post.mainImage ? (
			<a class="hover:underline" href={`/post/${post.slug.current}`}>
				<Image
					class="h-40 w-60 border border-color-placeholder bg-color-placeholder object-cover"
					src={urlFor(post.mainImage).width(240).height(160).url()}
					width="240"
					height="160"
					alt={post.excerpt || post.title}
					loading={'eager'}
					transition:name={`post-image-${post.slug.current}`}
				/>
			</a>
		) : (
			<Image
				class="h-40 w-60 border border-color-placeholder bg-color-placeholder object-cover"
				src={placeholderImage}
				alt={post.excerpt || post.title}
				loading={'eager'}
				transition:name={`post-image-${post.slug.current}`}
			/>
		)
	}
	<div class="flex flex-col justify-between gap-4">
		<h2 class="text-xl font-black">
			<a
				class="hover:underline"
				href={`/post/${post.slug.current}`}
				transition:name={`post-title-${post.slug.current}`}
			>
				{post.title}
			</a>
		</h2>
		<p class="text-base">{post.excerpt}</p>
		<p class="text-sm">
			{formatDate(post._createdAt)}
		</p>
	</div>
</div>
