---
// import type { Post } from '@/utils/sanity'
import type { Post } from '@/sanity.types'
import placeholderImage from '@/assets/placeholder-image-square.jpg'
import { formatDate } from '@/utils'
import { urlForImage } from '@/utils/image'
import { Image } from '@unpic/astro'

interface Props {
  post: Post
}

const { post } = Astro.props
console.log('🚀 ~ post:', post.coverImage)
---

<div class="flex flex-col gap-6 sm:flex-row">
  {
    post.coverImage?.asset ? (
      <a class="hover:underline" href={`/post/${post.slug.current}`}>
        <Image
          class="border-color-placeholder bg-color-placeholder h-40 w-60 border object-cover"
          src={urlForImage(post.coverImage).width(240).height(160).url()}
          width={240}
          height={160}
          alt={post.excerpt || post.title}
          loading={'eager'}
          transition:name={`post-image-${post.slug.current}`}
          placeholder={'lqip'}
          background={post.coverImage.asset.metadata?.lqip}
        />
      </a>
    ) : (
      <Image
        class="border-color-placeholder bg-color-placeholder h-40 w-60 border object-cover"
        src={placeholderImage}
        alt={post.excerpt || post.title}
        loading={'eager'}
        transition:name={`post-image-${post.slug.current}`}
      />
    )
  }
  <div class="flex flex-col justify-between gap-4">
    <h3 class="mt-3 text-2xl font-semibold">
      <a
        class="underline transition-colors hover:text-red-500"
        href={`/post/${post.slug.current}`}
        transition:name={`post-title-${post.slug.current}`}>
        {post.title}
      </a>
    </h3>
    <p class="text-base">{post.excerpt}</p>
    <p class="text-sm text-black/60">
      {formatDate(post._createdAt)}
    </p>
  </div>
</div>
