---
import type { Props as SEOProps } from 'astro-seo'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import { SITE_TITLE } from '@/consts'
import { VisualEditing } from '@sanity/astro/visual-editing'
import { SEO } from 'astro-seo'
import { ClientRouter } from 'astro:transitions'
import '@/assets/styles/global.css'
import '@fontsource-variable/inter'
import '@fontsource-variable/montserrat'

interface Props {
  seo?: SEOProps
}

const { seo } = Astro.props

const visualEditingEnabled = import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED === 'true'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={SITE_TITLE}
      href={`${Astro.site}rss.xml`}
    />
    <SEO {...seo} />
    <ClientRouter />
  </head>
  <body class="bg-color-white antialiased">
    <div class="flex h-svh w-full flex-col items-center">
      <Header />
      <!-- <main class="w-full max-w-2xl grow px-4 py-14"> -->
      <main class="container my-44 grid grow gap-12">
        <slot />
      </main>
      <Footer />
    </div>
    <VisualEditing enabled={visualEditingEnabled} />
    <!-- <VisualEditing enabled={visualEditingEnabled} zIndex={1000} /> -->
  </body>
</html>
